@import url("normalize.css");
@import url(http://fonts.googleapis.com/css?family=Cousine);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
	background-color: #f1f2f2;
	font-family: 'Cousine', sans-serif;
	color: #555;
}

#mainWrapper {
	width: 100%;
}

#contentWrapper {
	width: 80%;
	padding-top: 80px;
	max-width: 1000px;
	margin: 0 auto;
}

#navigation {
	background-color: #c1beb2;
	position: fixed;
	width: 99%;
	color: #000;
	opacity: 0.5;
	text-align: right;
	border-bottom: 1px solid #ddd;
	padding: 20px 20px 10px 0;
	box-shadow: 1px 1px 1px #111;
}

#taskmortLogo {
	display: block;
	background-image: url("../img/logo.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 10px 280px;
	width: 60%;
	height: 600px;
	margin: 0 auto;
}

#navigation a {
	color: #000;
}

#navigation a:hover {
	color: #428F8E;
}

div.listMenu {
	display: block;
	height: 60px;
	padding-top: 30px;
	width: 100%;
}

a {
	text-decoration: none;
	color: #3d6a6f;
}

a:hover {
	color: #999;
}

.hidden {
	position: absolute !important;
	top: -999px !important;
	left: -999px !important;
}

#home {
	display: inline;
	width: 120px;
	margin: 6px 0 0 -16px;
	font-family: "Abel";
	font-weight: 100;
	font-size: 22px;
	padding: 0;
	float: left;
	line-height: 0;
}

li {
	padding: 0;
}

div.listName {
	display: block;
	color: #444;
	text-align: center;
	font-size: 14px;
	padding: 10px;
	border-radius: 0px 3px 0 0;
	border-top: 0px solid #bfba69;
	border-bottom: 1px solid #f0f0e9;
	background-color: #e2e2e2;
}

.editableTask, .editableNote, .editableProject {
	margin: 0;
	width: 70%;
	margin-left: 1%;
	padding: 8px 0 8px 1%;
	background-color: #fff;
	color: #5b7f84;
	border-bottom: 1px solid #eee;
}

.newItem {
	padding-top: 33px !important;
	height: 90px;
	padding-left: 4% !important;
	margin-bottom: 10px !important;
	background-color: #fdffd1;
	border-radius: 3px;
}

.deleteList {
	float: right;
}

.newItem .editableTask {
	margin: 0;
	width: 92%;
	margin-left: 1%;
	padding: 8px 0 8px 1%;
	background-color: #fff;
	color: #5b7f84;
	border-bottom: 1px solid #eee;

}

span#syntax {
	display: block;
	color: #cac253;
	margin-top: 10px;
	padding-left: 10px;
	padding-bottom: 30px;
	width: 90%;
	font-size: 12px;
	cursor: pointer;
}

div.viewListWrapper, div.editListWrapper {
	display: block;
	width: 84%;
	min-height: 800px;
	background-color: #fff;
	padding: 0 8%;
	margin: 0 auto 100px auto;
}


ul.listBrowser {
	margin: 35px 0;
	padding: 30px 30px 60px 30px;
	font-size: 14px;
	background-color: #fff;
}

ul.listBrowser li {
	list-style: none;
	margin-top: 10px;
	border-bottom: 1px dashed #bbb;
}

textarea#editableList {
	width: 84%;
	min-height: 700px;
	margin: 0 auto 100px auto;
	line-height: 2em;
	resize: none;
	border: 0px solid #cccccc;
	padding: 10px 2%;
	color: #555;
	background-color: #fff;
	background-position: bottom right;
	background-repeat: no-repeat;
}

textarea#editableList:focus {
	outline: none;
}

#newListPrompt {
	display: block;
	margin-top: 180px !important;
	width: 292px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
}

#newListPrompt input#listName {
	width: 247px;
	height: 24px;
	padding: 10px;
}

#newListPrompt input[type="submit"] {
	margin: 20px 0;
	box-shadow: 0 1px #bbb;
	width: 272px;
	background-color: #b8c5c6;
	border: 0;
	padding: 15px 0;
	font-size: 18px;
	border-radius: 2px;
}


.done {
	text-decoration: line-through;
}

.tag {
	color: #bab854;
}

ul.listView {
	margin: 0;
	padding: 0;
}

ul.listView li {
	list-style: none;
	border: 1px solid #eee;
	border-left: 1px solid #eee;
	border-top: 0;
	padding: 0 0;
	margin: 0;
} 

ul.listView li.item {
	padding: 10px 10px;
	border-radius: 3px;
}

li.item.task:after, li.item.task_completed:after {
	content: "\2630";
	float: right;
	color: #bbb;
}

li.item.task:nth-of-type(1){
	border-top: 1px solid #eee;
}


/*li.item.note:after {
	content: "\2630";
	float: right;
	color: #fff;
	font-size: 16px;
	font-style: normal;
}
*/
span.visible {
	width: 80%;
	display: inline-block;
	overflow-wrap: break-word;
}

span.removeItem, span.removeItem_note {
	float: right;
	margin-top: 3px;
	font-size: 18px;
	margin-left: 20px;
	color: #f1d4d9;
	cursor: pointer;
}

span.removeItem_note {
	font-style: normal;
	color: #bdd4d5;
}
span.removeItem:hover {
	color: #b9282b;
}
span.removeItem_note:hover {
	color: #b9282b;
}

span.checkBox, span.checkBox_completed {
	float:left;
	font-size: 30px;
	margin-left: -36px;
	margin-top: -11px;
	color: #eee;
}

span.checkBox:hover, span.checkBox_completed:hover {
	color: #92cdcc;
	cursor: pointer;
}

ul.listView li.note {
	color: #888;
	font-size: 13px !important;
	margin-left: 0.6%;
	width: 93.8%;
	padding: 13px 1.8% 20px 3.2% !important;
	font-style: normal;
	background-color: #e9f0f1;
	border-radius: 0;
}

ul.listView li.project {
	font-family: "Abel";
	text-transform: uppercase;
	font-size: 34px;
	background-color: #eee;

	/*	color: #e35d58;*/
	padding-bottom: 2px;
	color: #b9282b;
	margin-top: 0px;
	border-bottom: 4px solid #ddd;
	border-left: 1px solid #ddd;

	border-right: 0;
}

li.item.task_completed span.visible {
	text-decoration: line-through;
	color: #ccc;
}

ul.listView li.item.task:hover, ul.listView li.item.task_completed:hover {
	background-color: #eee;
	cursor: default;
}

ul.listView li.item.project {
	cursor: default;
}

a#addItem {
	display: inline-block;
	background-color: #d8d221;
	text-align: center;
	float: right;
	color: #222;
	margin-right: 200px;
	border-radius: 2px;
	font-size: 28px;
	font-weight: bold;
	line-height: 33px;
	height: 30px;
	width: 83px;
}

a#addItem:hover {
	background-color: #898514;
}

a#edit {
	display: inline-block;
	float: right;
	border-radius: 2px;
	margin-right: 10px;
	font-size: 10px;
	line-height: 30px;
	height: 30px;
	width: 40px;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}

a#edit {
	background-color: #b3ced0;
	background-image: url("../img/058.png");
	margin-right: 0px;
}

a#edit:hover {
	background-color: #619a9d;	
}

a.browseFile {
	padding-left: 30px;
}

a.deleteList {
	padding-right: 4px;
	line-height: 30px;
	font-size: 18px;
}

a.browseFile:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-left: -23px;
	margin-right: 7px;
	margin-top: 0px;
	background-image: url("../img/043.png");
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
}

a#signOut:before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 12px;
	background-image: url("../img/014.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 6px;
	margin-left: -2px;
}
a#signOut {
	margin-right: 10px;
}

#saveAndView {
	position: static !important;
	margin: -60px 50px 0 0px;
	width: 40px;
	border: 0;
	padding: 5px 0;
	border-radius: 2px;
	float: right;
	background-color: #b3ced0;
	background-image: url("../img/008.png");
	margin-right: 0px;
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
}

#saveToDropbox {

}

#saveAndView:hover {
	background-color: #619a9d;
}

#listSaveButton, #viewSaveButton {
	position: static !important;
	margin: -60px 50px 0 0px;
	box-shadow: 0 1px #bbb;
	width: 82px;
	background-color: #9ac0b0;
	border: 0;
	padding: 5px 0;
	border-radius: 2px;
	float: right;
	height: 29px;
	background-image: url("../img/019.png");
	background-size: 32%;
	background-position: center;
	background-repeat: no-repeat;
}

#viewSaveButton {
	margin: -60px 50px 0 0px;
}

#listSaveButton:hover, #viewSaveButton:hover {
	background-color: #5e967e;
}

#listSaveButton:active, #viewSaveButton:active {
	padding: 2px 0;
}



/*label {
	display:inline-block;
	width:12px;
	height:12px;
	padding: 0 2px 6px 2px;
	vertical-align:middle;
	cursor:pointer;
	border-radius: 4px;
}

label:hover {
	background-color: #bbb;
}
*/

/** LOGIN STYLE **/


h1.login {
	color: #143032;
	font-family: "Abel";
	font-size: 28px;
	margin: 60px 0 0 0;
	padding: 44px 0 31px 0;
	display: block;
	width: 100%;
}

#formWrapper{
	background-image: url("../img/logo.png");
	background-size: 40%;
	background-position: 193px 30px;
	background-repeat: no-repeat;
	display: block;
	width: 280px;
	background-color: #ddd;
	margin: 150px auto;
	padding: 0px 40px 20px 40px;
	border-radius: 4px;
}

span#loginDisclaimer {
	font-size: 11px;
	line-height: 15px;
	display: block;
	height: 78px;
	color: #999;
	margin-top: 10px;
}

label.login:hover {
	background-color: #ddd;
}

#submit {
	margin: 20px 0;
	box-shadow: 0 1px #bbb;
	width: 272px;
	background-color: #b8c5c6;
	border: 0;
	padding: 20px 0;
	font-size: 18px;
	border-radius: 2px;
}

#submit:hover {
	background-color: #bdc9ca;
}

input.loginForm {
	display: block;
	padding: 14px;
	width: 240px;
	margin-bottom: 20px;
}

#checkbox input{
	display: inline;
	width: 16px;
	float: left;
}

#checkbox {
	font-size: 12px;
}

#errorMsg{
	font-size: 12px;
	color: #b75264;
}

.onoffswitch {
position: static;
width: 87px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
margin-top: -60px;
float: right;
margin-right: 142px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFF; border-radius: 3px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 36px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "ON";
	padding-left: 50px;
	font-size: 12px;
	background-color: #2FCCFF;
	background-image: url("../img/dropbox.png");
	background-size: 28%;
	background-position: 10px 2px;
	background-repeat: no-repeat;
	color: #FFFFFF;
	line-height: 32px;
}

.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 49px;
	font-size: 12px;
	background-color: #dadee0;
	color: #999999;
	background-image: url("../img/dropbox.png");
	background-size: 28%;
	background-position: 50px 2px;
	background-repeat: no-repeat;
	text-align: right;
	line-height: 31px;
}

.onoffswitch-switch {
    display: none; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

